<!-- Twitch Widget -->
<a href="#" class="twitch-widget" id="twitch-widget" target="_blank"></a>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light static-top sb-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Gleam Chart</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="navbar-nav mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/snippets" title="Gleam Chart Document">Document</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snippets" title="Gleam Chart Sample">Sample</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snippets" title="Gleam Chart Donation">Donation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
